<h2> List of rentals</h2>

{{#link-to 'about' class="button"}}
About Us
{{/link-to}}

{{#list-filter
   filter=(action 'filterByCity')
   as |rentals|}}
  <ul class="results">
    {{#each rentals as |rentalUnit|}}
      <li>{{rental-listing rental=rentalUnit}}</li>
    {{/each}}
  </ul>
{{/list-filter}}


{{outlet}}